.container{
	width: 50%;
}

.jumbo {
	margin: 10px;
	padding: 15px;
}


ul {
  list-style-type: none;
}

.text-box {
	background-color: black;
	color: white;
	height: 100%;
	max-height: 200px;
}

.text {
	padding: 10px;
}

.upvotes {
	width: 50px;
	float: right;
	margin: 0 auto;
}

.upvotes-value{
	float: right;
	margin: 0 auto;
	line-height: 50px;
}

.outer{
	width: 100%;
	align-content: right;
	text-align: center;
}

img {
	width: 10%;
}